In [77]:
import pandas as pd

In [78]:
df = pd.read_csv('LifeExp.csv')
df.head()

,Status,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,under-five deaths,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness_1_19_yrs,thinness 5-9 years,Income composition of resources,Schooling,LifeExpectancy
0,Developing,263.0,62,0.01,71.279624,65.0,1154,19.1,83,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1,65.0
1,Developing,271.0,64,0.01,73.523582,62.0,492,18.6,86,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0,59.9
2,Developing,268.0,66,0.01,73.219243,64.0,430,18.1,89,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9,59.9
3,Developing,272.0,69,0.01,78.184215,67.0,2787,17.6,93,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8,59.5
4,Developing,275.0,71,0.01,7.097109,68.0,3013,17.2,97,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5,59.2

In [79]:
# Data of Status is converted into Binary Data
df_one = pd.get_dummies(df["Status"])

# Binary Data is Concatenated into Dataframe
df_two = pd.concat((df_one, df), axis=1)

# Status column is dropped
df_two = df_two.drop(["Status"], axis=1)

# We want Developing =0 and Developed =1 So we drop Developing column here
df_two = df_two.drop(["Developing"], axis=1)

# Rename the Column
df_new = df_two.rename(columns={"Developed": "Status"})

In [80]:
df_new.head()

,Status,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,under-five deaths,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness_1_19_yrs,thinness 5-9 years,Income composition of resources,Schooling,LifeExpectancy
0,0,263.0,62,0.01,71.279624,65.0,1154,19.1,83,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1,65.0
1,0,271.0,64,0.01,73.523582,62.0,492,18.6,86,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0,59.9
2,0,268.0,66,0.01,73.219243,64.0,430,18.1,89,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9,59.9
3,0,272.0,69,0.01,78.184215,67.0,2787,17.6,93,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8,59.5
4,0,275.0,71,0.01,7.097109,68.0,3013,17.2,97,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5,59.2

In [81]:
#checking the missing values
df_new.isnull().sum()

Status                               0
Adult Mortality                     10
infant deaths                        0
Alcohol                            194
percentage expenditure               0
Hepatitis B                        553
Measles                              0
 BMI                                34
under-five deaths                    0
Polio                               19
Total expenditure                  226
Diphtheria                          19
 HIV/AIDS                            0
GDP                                448
Population                         652
 thinness_1_19_yrs                  34
 thinness 5-9 years                 34
Income composition of resources    167
Schooling                          163
LifeExpectancy                      10
dtype: int64

In [82]:
df_new['Adult Mortality'].fillna((df_new['Adult Mortality'].mean()), inplace=True)
df_new['Alcohol'].fillna((df_new['Alcohol'].mean()), inplace=True)
df_new['Hepatitis B'].fillna((df_new['Hepatitis B'].mean()), inplace=True)
df_new[' BMI '].fillna((df_new[' BMI '].mean()), inplace=True)
df_new['Polio'].fillna((df_new['Polio'].mean()), inplace=True)
df_new['Total expenditure'].fillna((df_new['Total expenditure'].mean()), inplace=True)
df_new['Diphtheria '].fillna((df_new['Diphtheria '].mean()), inplace=True)
df_new['GDP'].fillna((df_new['GDP'].mean()), inplace=True)
df_new['Population'].fillna((df_new['Population'].mean()), inplace=True)
df_new[' thinness_1_19_yrs'].fillna((df_new[' thinness_1_19_yrs'].mean()), inplace=True)
df_new[' thinness 5-9 years'].fillna((df_new[' thinness 5-9 years'].mean()), inplace=True)
df_new['Income composition of resources'].fillna((df_new['Income composition of resources'].mean()), inplace=True)
df_new['Schooling'].fillna((df_new['Schooling'].mean()), inplace=True)
df_new['LifeExpectancy '].fillna((df_new['LifeExpectancy '].mean()), inplace=True)

In [83]:
df_new.columns

Index(['Status', 'Adult Mortality', 'infant deaths', 'Alcohol',
       'percentage expenditure', 'Hepatitis B', 'Measles ', ' BMI ',
       'under-five deaths ', 'Polio', 'Total expenditure', 'Diphtheria ',
       ' HIV/AIDS', 'GDP', 'Population', ' thinness_1_19_yrs',
       ' thinness 5-9 years', 'Income composition of resources', 'Schooling',
       'LifeExpectancy '],
      dtype='object')

In [84]:
#full model
X_full = df_new.drop(['LifeExpectancy '],axis=1)
Y = df_new['LifeExpectancy ']

In [85]:
from sklearn import linear_model
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import StratifiedKFold

# Splitting dataset into training and testing sets
#X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = 0.2, random_state = 42)

scores_full=cross_val_score(linear_model.BayesianRidge(), X_full, Y,cv=10)

In [86]:
import numpy as np
np.average(scores_full)

0.7742154217830857

In [87]:
df_new.columns

Index(['Status', 'Adult Mortality', 'infant deaths', 'Alcohol',
       'percentage expenditure', 'Hepatitis B', 'Measles ', ' BMI ',
       'under-five deaths ', 'Polio', 'Total expenditure', 'Diphtheria ',
       ' HIV/AIDS', 'GDP', 'Population', ' thinness_1_19_yrs',
       ' thinness 5-9 years', 'Income composition of resources', 'Schooling',
       'LifeExpectancy '],
      dtype='object')

In [88]:

model1 = df_new[['Status' ,'Adult Mortality' , 'infant deaths' , 'Alcohol' , 'Hepatitis B' , ' BMI ' , 'under-five deaths ' , 'Polio' , 'Diphtheria ' , ' HIV/AIDS' , 'GDP' , ' thinness_1_19_yrs' ,'Income composition of resources' , 'Schooling']]
model2 = df_new[['Status' ,'Adult Mortality' , 'infant deaths' , 'Alcohol' , 'Hepatitis B' , ' BMI ' , 'under-five deaths ' , 'Polio' , 'Diphtheria ' , ' HIV/AIDS' , 'GDP' , ' thinness_1_19_yrs' ,'Income composition of resources' , 'Schooling','Measles ']]
model3 = df_new[['Status' ,'Adult Mortality' , 'infant deaths' , 'Alcohol' , 'Hepatitis B' , ' BMI ' , 'under-five deaths ' , 'Polio' , 'Diphtheria ' , ' HIV/AIDS' , 'GDP' , ' thinness_1_19_yrs' ,'Income composition of resources' , 'Schooling','Measles ','Total expenditure']]

In [89]:
#best model/model1
scores1=cross_val_score(linear_model.BayesianRidge(), model1, Y,cv=10)
np.average(scores1)

0.783407839885366

In [90]:
#model2
scores2=cross_val_score(linear_model.BayesianRidge(), model2, Y,cv=10)
np.average(scores2)

0.7790445166744316

In [91]:
#model3
scores3=cross_val_score(linear_model.BayesianRidge(), model3, Y,cv=10)
np.average(scores3)

0.7773904013551454